<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand"
       href="#"
       title="Moneypole">※ Moneypole</a>
    <button class="navbar-toggler"
            type="button"
            data-toggle="collapse"
            data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link"
                   href="{{ path('dashboard_index') }}">Accueil</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle"
                   href="#"
                   role="button"
                   data-toggle="dropdown"
                   aria-haspopup="true"
                   aria-expanded="false">
                    Bourse
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="{{ path('market_index') }}">Wall street</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Matières premières</a>
                    <a class="dropdown-item" href="#">Manufacturés</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Votre marché</a>
                </div>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="{{ path('dashboard_index') }}">Production</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="{{ path('dashboard_index') }}">Logistique</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link"
                   href="{{ path('dashboard_index') }}">R&amp;D</a>
            </li>
        </ul>
        <div class="my-sm-0">
            {{ app.user.getDisplayName }}
            {%if app.user.admin %}<a class="nav-link"
               href="{{ path('admin_index') }}">Admin</a>{% endif %}
            <a href="#"
               class="btn btn-sm btn-outline-danger">
                &#9211;
            </a>
        </div>
    </div>
</nav>